{% extends 'base.html' %} 
{% load staticfiles %}
{% block content %}
<br><br>

<div class="row">
	<div class="col-lg-5 col-sm-12 mb-5">
		<h3>PostgreSQL</h3>
		<div id="database_p">
			{% for tabla in nombres2 %}
				<a href="#" value="{{ tabla }}">{{ tabla }}</a> <br>
			{% endfor %}
		</div>

		<h3>Catalogo</h3>
		<div id="catalogo_p">
			<a href="#">Catalogo postgres</a>
		</div>
	</div>
	<div class="col-lg-7 col-sm-12 mb-7">
		<h3>Tablas <small id="db_p"> </small> </h3>

		{% csrf_token %}		
		<div id="tables_p">

		</div>
		
		<br>
		<p>Campos</p>
		<div id="tables_nombre_p"></div>
		<div id="campos_p">

		</div>
	</div>
</div>

<br><br>
{% endblock %}

{% block javascript %}
	<script src="{% static 'js/main.js' %}"></script>
{% endblock %}

